.header__lang-switch {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    color: #FFFFFF;
}

.header__lang-switch:hover {
    opacity: 0.8;
}

.header__lang-switch:nth-child(1n) {
    margin-right: 18px;
    /*с прицелом на добавление дополнительных ссылок*/
}

.header__lang-switch:last-child {
    margin-right: 0;
}

@media screen and (max-width: 320px) {
    .header__lang-switch {
        font-size: 18px;
        line-height: 1.11;   
    }
}