.menu__list {
    margin: 0;
    display: flex;
    padding: 0;
    max-width: 465px;
}

@media screen and (max-width: 1024px) {
    .menu__list {
        max-width: 465px;
    }
}

@media screen and (max-width: 400px) {
    .menu__list {
        flex-direction: column;
    }
}