.menu__list {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .menu__list {
        flex-direction: column;
        margin-bottom: 16px;
    }
}