.card__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 8px;
}

@media screen and (max-width: 400px) {
    .card__website{
        width: 90vw;
        margin: auto;
        margin-bottom: 0;
    }
}