.card__image {
    max-width: 460px;
}

@media screen and (max-width: 1024px) {
    .card__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .card__image {
        margin-top: 20px;
        max-width: 44vw;
        /*не совсем понял предложение "чтобы изображение при сужении ужималось можно также его описать через фрейм, напр., округлив расчет, 460*100/484 (это относительно второго фрейма в единицу по макету.)", поэтому сделал так, изображение сужается вместе с областью просмотра*/
    }
}

@media screen and (max-width: 480px) {
    .card__image {
        max-width: 100%;
    }
}