.card {
    max-width: 100%;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto;
    gap: 40px;
    margin-bottom: 80px;
}

.card:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .card {
        grid-template-columns: 440px 1fr;
        grid-template-rows: auto;
        gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        grid-template-columns: 44vw 1fr; /*задал это значение так как в интервале 768-320 
        колонка с текстом вела себя совсем плохо при фиксированной величине колонки с картинкой*/
        grid-template-rows: auto;
        gap: 28px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 32px;
    }
}